<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="../static/admin.css">
</head>
<body>
    <h1>Welcome back, Admin!</h1>

    <h2>DesInk Statistics</h2>
    <h2>Our Journey so far !</h3>
    <div class="progressWhole">
        <div class="progress-container">
            <p>Total Number of Customers:</p>
            <div class="progress-bar" id="customerProgress"></div>
            <div class="progressIn">
                <p><span id="totalCustomers">{{ total_customers[0][0] }}</span></p>
            </div>
        </div>
        
        <div class="progress-container">
            <p>Total Number of Designers  </p>
            <div class="progress-bar" id="designerProgress"></div>
            <div class="progressIn">
                <p><span id="totalDesigners">{{ total_designers[0][0] }}</span></p>
            </div>
        </div>
    </div>

    <script src="../static/admin.js"></script>
    <h2>Customer Lifetime Value (CLV)</h2>
    <table border="1" >
        <tr >
            <th class="twoColumn" >Customer ID</th>
            <th class="twoColumn" >Total Amount Spent</th>
        </tr>
        {% for customer in customer_lifetime_value %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Popular Product Categories</h2>
    <table border="1">
        <tr>
            <th class="twoColumn">Product Category</th>
            <th class="twoColumn">Total Units Sold</th>
        </tr>
        {% for product in popular_product_categories %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Top Performing Discount Codes</h2>
    <table border="1">
        <tr>
            <th class="twoColumn" >Discount ID</th>
            <th class="twoColumn" >Times used</th>
        </tr>
        {% for discount in top_performing_discount_codes %}
            <tr>
                <td>{{ discount[0] }}</td>
                <td>{{ discount[1] }}</td>
            </tr>
        {% endfor %}
    </table>


    <h2>Top Selling Products</h2>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Title</th>
            <th>Total Sold</th>
        </tr>
        {% for product in top_selling_products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Customer Order History</h2>
    <table border="1">
        <tr>
            <th class="twoColumn">Customer Name</th>
            <th class="twoColumn">Total Orders</th>
        </tr>
        {% for order in customer_order_history %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Popular Product Categories</h2>
    <table border="1">
        <tr>
            <th class="twoColumn">Category</th>
            <th class="twoColumn">Total Units Sold</th>
        </tr>
        {% for category in popular_product_categories %}
            <tr>
                <td>{{ category[0] }}</td>
                <td>{{ category[1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>All Tables</h1>
    <h2>Product Table</h2>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Category</th>
            <th>Price</th>
            <th>Available Units</th>
            <th>Max Units Cap</th>
            <th>Portfolio ID</th>
        </tr>
        {% for row in product_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>    
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2>Designer Table</h2>
    <table border="1">
        <tr>
            <th>Designer Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
            <th>Portfolio ID</th>
        </tr>
        {% for row in designer_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2>Customer Table</h2>
    <table border="1">
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for row in customer_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
