<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Customer Signup</h1>
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
        <form method="POST" action="/customer/signup">
            <label for="custName">Username:</label>
            <input type="text" id="custName" name="custName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <img id="togglePassword" src="../static/images/eye off.svg" alt="Toggle Password Visibility" >
            </div>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
            
            <input type="submit" value="Signup">
        </form>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.src = type === 'password' ? '../static/images/eye off.svg' : '../static/images/eye on.svg';
        });
    </script>
    
</body>
</html>
