<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
    <link rel="stylesheet" type="text/css" href="../static/order.css">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h1>Previous Orders </h1><br/>
            <ul>
                {% for order in existing_order %}
                <li>Order ID: {{ order[0] }}</li>
                <li>Order Date: {{ order[1] }}</li>
                <li>Order Status: {{ order[2] }}</li>
                <!-- Check if order is confirmed and add a cancel button then-->
                {% if order[2] == 'Confirmed' %}
                <form method="POST" action="/order">
                    <input type="hidden" name="order_id" value="{{ order[0] }}">
                    <input type="submit" value="Cancel Order" name="cancel_order">
                </form>
                {% endif %}
                <hr />
                <!-- Add space here  -->
                <br/>
                {% endfor %}
            </ul>
        </div>
        <div class="right-column">
            <h1>Place Order</h1>
            <!-- Display items in the user's cart -->
            <h2>Items in Cart</h2>
            <ul>
                {% for item in cart_items %}
                <li>{{ item[2] }} - Quantity: {{ item[1] }}</li>
                {% endfor %}
            </ul>

            <!-- Display the total value of the cart -->
            <h2>Total Value of Cart</h2>
            <p>
                {% if cart_value %}
                    ${{ cart_value }}
                {% else %}
                    $0
                {% endif %}
            </p>
            <!-- Form for placing an order -->
            <form method="POST" action="/order">
                <input type="submit" value="Place Order" name="place_order">
            </form>
        </div>
    </div>
</body>
</html>
