<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Place Order</h1>
        
        <!-- Display items in the user's cart -->
        <h2>Items in Cart</h2>
        <ul>
            {% for item in cart_details %}
            <li>{{ item[1] }} - Quantity: {{ item[2] }} - Price: ${{ item[3] }}</li>
            {% endfor %}
        </ul>

        <!-- Display the total value of the cart -->
        <h2>Total Value of Cart</h2>
        <p>${{ cart_value }}</p>

        <!-- Form for entering discount code and placing order -->
        <form method="POST" action="/place_order">
            <label for="discount_code">Discount Code:</label>
            <input type="text" id="discount_code" name="discount_code">
            
            <!-- <input type="submit" value="Apply Discount">
        </form>
        <br>
        <form method="POST" action="/place_order"> -->
            <input type="submit" value="Place Order" name="confirm_order">
        </form>
    </div>
</body>
</html>
